@font-face {
	font-family: 'mspm';
	src: url("./short2.otf?1");
}

o-l {
	text-decoration: overline;
}
abbr {
	//font-variant: all-small-caps;
	//text-transform: lowercase;
	//font-variant-numeric: oldstyle-nums;
}

body {
	margin-bottom: 100px;
	image-rendering: crisp-edges;
	background: url("./tile32.png");
	font-family: /*georgia,*/ serif;
	font-family: mspm, serif;
	/*font-variant-numeric: oldstyle-nums;*/
}
p {
	//background: #DEE1DEAA;
}
h1, h2, h3, th {
	font-family: serif;
}
h1 {
	background: #FFE;
	margin: 12px -8px 21px;
	padding: 8px 8px;
	box-shadow: 0 0 5px black;
	color: #E21;
}
h1 img + span {
	display: inline-block;
	vertical-align: middle;
}
h1 img {
	margin-right: 10px;
	vertical-align: middle;
}
:target {
	text-decoration: underline blue;
}

table {
	//font-family: serif;
	font-variant-numeric: lining-nums;
}

figure {
	//margin: 16px 24px 0px 32px;
	margin: 16px 8px 0px 32px;
}
figure > * {
	margin-right: 8px;
	margin-bottom: 16px;
	vertical-align: top;
}
figure > table {
	display: inline-table;
}

table.port {
	table-layout: fixed;
	font-size: 12px;
	border: 1px solid;
	background: #FFE;
}
.port td {
	border: 1px solid;
}
.port tr>* {
	height:40px;
	text-align:center;
}
.port th, .port td {
	box-sizing:border-box;
	width: 40px;
	max-width: 40px;
	min-width: 40px;
	word-wrap: break-word;
	line-height: 1;
}
.port .numbers th {
	height: 1em;
	font-family: courier;
}
.port .narrow td {
	
}
.port .gap {
	border: none;
}

table.pinout {
	border: 1px solid;
	background: #FFE;
}
.pinout td {
	border: 1px solid;
	padding: 0 4px;
}

.pinout th {
	min-width: 3ch;
}
.pinout tr>* {
	text-align: center;
}
.cont1.cont1 { border-bottom-style: dashed !important; }
.cont2.cont2 { border-top-style: dashed !important; }
.pinout td + td {
	border-left: none;
}

.vcc {
	/*border-color: transparent;*/
	background-color: white;
	color: maroon;
}
.gnd {
	background-color: white;
	color: green;
}

.nc {
	background-color: silver;
	color: gray;
}

.portlabel {
	font-size: 2em;
	border: 6px double;
	min-width: 28px;
	padding: 0 2px;
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-family: courier;
	font-weight: normal;
	background: black;
	color: white;
}

.memory-map  {
	table-layout: fixed;
	line-height: 1;
	background: #CCC8;
	text-align: center;
}
.memory-map, .memory-map tr>* {
	border: 1px solid;
	border-collapse: collapse;
}
.memory-map th {
	font-family: monospace;
	background: #FFE;
	padding: 4px 1px;
}
.memory-map td {
}
